ChattingClient/ChattingClient/ChattingClient/bin/Debug/ChattingClient.exe
ChattingClient/ChattingClient/ChattingClient/bin/Debug/ChattingClient.exe.config
ChattingClient/ChattingClient/ChattingClient/bin/Debug/ChattingClient.pdb
ChattingClient/ChattingClient/ChattingClient/bin/Debug/Newtonsoft.Json.dll
ChattingClient/ChattingClient/ChattingClient/bin/Debug/Newtonsoft.Json.xml
ChattingClient/ChattingClient/ChattingClient/bin/Release/ChattingClient.exe
ChattingClient/ChattingClient/ChattingClient/bin/Release/ChattingClient.exe.config
ChattingClient/ChattingClient/ChattingClient/bin/Release/ChattingClient.pdb
ChattingClient/ChattingClient/ChattingClient/bin/Release/Newtonsoft.Json.dll
ChattingClient/ChattingClient/ChattingClient/bin/Release/Newtonsoft.Json.xml
ChattingClient/ChattingClient/ChattingClient/obj/Debug/ChattingClient.csproj.CopyComplete
ChattingClient/ChattingClient/ChattingClient/obj/Debug/ChattingClient.csproj.FileListAbsolute.txt
ChattingClient/ChattingClient/ChattingClient/obj/Debug/ChattingClient.csproj.GenerateResource.cache
ChattingClient/ChattingClient/ChattingClient/obj/Debug/ChattingClient.csprojAssemblyReference.cache
ChattingClient/ChattingClient/ChattingClient/obj/Debug/ChattingClient.exe
ChattingClient/ChattingClient/ChattingClient/obj/Debug/ChattingClient.Mainform.resources
ChattingClient/ChattingClient/ChattingClient/obj/Debug/ChattingClient.pdb
ChattingClient/ChattingClient/ChattingClient/obj/Debug/ChattingClient.Properties.Resources.resources
ChattingClient/ChattingClient/ChattingClient/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ChattingClient/ChattingClient/ChattingClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ChattingClient/ChattingClient/ChattingClient/obj/Release/ChattingClient.csproj.CopyComplete
ChattingClient/ChattingClient/ChattingClient/obj/Release/ChattingClient.csproj.FileListAbsolute.txt
ChattingClient/ChattingClient/ChattingClient/obj/Release/ChattingClient.csproj.GenerateResource.cache
ChattingClient/ChattingClient/ChattingClient/obj/Release/ChattingClient.csprojAssemblyReference.cache
ChattingClient/ChattingClient/ChattingClient/obj/Release/ChattingClient.exe
ChattingClient/ChattingClient/ChattingClient/obj/Release/ChattingClient.Mainform.resources
ChattingClient/ChattingClient/ChattingClient/obj/Release/ChattingClient.pdb
ChattingClient/ChattingClient/ChattingClient/obj/Release/ChattingClient.Properties.Resources.resources
ChattingClient/ChattingClient/ChattingClient/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
